- @title = "<a href='#{url('/accounts/%s' % @log.account.id)}'>#{@log.account.name}</a> / Entry ##{@log.id}"

.row-fluid
  .span4
    %table.table.well
      %tbody
        %tr
          %th HTTP method
          %td
            %strong=@log.method
        %tr
          %th URL
          %td=@log.uri
        %tr
          %th HTTP status
          %td=@log.status
        %tr
          %th HTTP params
          %td=@log.params
        %tr
          %th Driver
          %td=Deltacloud.drivers[@log.account.driver.to_sym][:name]
        %tr
          %th API user
          %td=@log.account.username
        %tr
          %th API provider
          %td=@log.account.provider
        %tr
          %th HTTP headers
          %td=@log.headers
        %tr
          %th Date
          %td=@log.created_at
  .span8
    %pre=format_log_body @log.body
